#answerbuttoncontainer {
  position:relative;
  padding:20px 0;
}   
#quizmain {
  font-family: "Segoe UI",Arial,sans-serif;
  width:100%;
  background-color:#EDE7F6;
  border: 1px solid black;
  box-shadow: 0 15px 25px rgba(0,0,0,.5);
  border-radius: 10px; 

}
#quizcontainer {
  padding:0 40px 40px 0;

}
#block{
  position:relative;width:100%;margin-left: 20px;
}
#qtext {
  font-family: Cambria Math;
  font-size:25px;
  margin-bottom:40px;
  margin-left: 20px;
}   
#altcontainer {
  background-color:#fff;
  font-size:120%;
  line-height:1.7em;
}
.button {
  border-radius: 2px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 12px;
  width: 150px;
  transition: all 0.5s;
   box-shadow: 0 15px 25px rgba(0,0,0,.5);
  border-radius: 4px; 

  cursor: pointer;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.tab{
  margin-right: 100px;
  margin-left: 100px;
  display: none;

}
.radiocontainer {
  background-color:#C8E6C9;
  display: block;
  position: relative;
  padding:10px 10px 15px 50px;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 20px;
  word-wrap: break-word;
}
.radiocontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 19px;
  width: 19px;
  background-color: #fff;
  border-radius: 50%;
}
.checkedlabel {
  background-color:#ddd;
}

.radiocontainer:hover {
  background-color: #66BB6A;
}
.radiocontainer input:checked ~ .checkmark {
  background-color: #884EA0;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radiocontainer input:checked ~ .checkmark:after {
  display: block;
}
.radiocontainer .checkmark:after {
  top: 6px;
  left: 6px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("bg-h.jpeg");
  background-size: cover;

}
h1 {
  text-align: center;
  font-family:Comic Sans MS;

}
h3{
  margin-left: 20px;
}
